img
{
	margin-top: auto;
}

section p
{
	text-align: justify;
}

h2
{
	text-align: center;
	margin-top: 5%;
}

.img-fluid
{
	max-width: 100%;
	height: auto;
	padding: 0 0 0 0;
}

.img-fluid2
{
	max-width: 100%;
	height: auto;
	padding: 0 0 0 0;
}