
section p
{
	text-align: justify;
}

h2
{
	text-align: center;
	margin-top: 10%;
}

.img-fluid
{
	max-width: 100%;
	height: auto;
	padding: 0 0 0 0;
}

#img-about
{
	max-width: 100%;
	height: auto;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
}



@media (max-width: 768px){

	#img-about{
		margin-top: 5%;
	}

}

@media (max-width: 1440px){
	#img-about{
		margin-top: 25%;
		margin-bottom: 25%;
	}
}