form{
  text-align: center;
}

legend{
    text-align: center;
    font-size: 38px;
    margin: 30px auto 10% auto;
    background-color: rgb(58, 56, 56);
    color: white;
    border-radius: 8px;
}
#imagecontact{
  margin-top: 20px;
  border-radius: 50%;
  max-width: 100%;
}
#name{
  margin: 20% auto auto auto;
}
#email{
  margin: 10% auto auto auto;
}
#number{
  margin: 10% auto auto auto;
}
#comment{
  border-radius: 8px;
}
#question{
  margin: 10% auto auto auto;
}
.form-control::-webkit-input-placeholder {
  color: #C0C0C0;
}
